@font-face {
  font-family:shirota;
  src: url(fonts/Shirota/shirota.otf) format("opentype");
}
@font-face {
  font-family:Accuratist;
  src: url(fonts/Accuratist/Accuratist.otf) format("opentype");
}

@font-face {
  font-family:Troika;
  src: url(fonts/Troika/troika.otf) format("opentype");
}

@font-face {
  font-family:Uni_Sans_Heavy;
  src: url(fonts/Uni_Sans/uni_sans_heavy.otf) format("opentype");
}
