<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Перечень услуг</title>

</head>
<body>

    <div></div>

    <div >
        <div >
            <div ></div>
            <div>

                <h1>Перечень услуг автосервиса</h1>

                <div >
                    <div >
                        <div >



                            <div>

                                <table >
                                    <tbody>

                                        <tr>
                                            <td>Замена переднего амортизатора</td>
                                        </tr>
                                        <tr>
                                            <td>Замена пыльника переднего амортизатора</td>
                                        </tr>
                                        <tr>
                                            <td>Замена шаровой опоры (верхняя)</td>
                                        </tr>
                                        <tr>
                                            <td>Замена шаровой опоры (нижняя)</td>
                                        </tr>
                                        <tr>
                                            <td>Снятие / установка колеса</td>
                                        </tr>
                                        <tr>
                                            <td>Снятие / установка защиты картера ДВС</td>
                                        </tr>
                                        <tr>
                                            <td>Замена кулака поворотного (без разборки)</td>
                                        </tr>
                                        <tr>
                                            <td>Замена тяги боковой</td>
                                        </tr>
                                        <tr>
                                            <td>Замена тяги средней</td>
                                        </tr>
                                        <tr>
                                            <td>Замена маятникового рычага</td>
                                        </tr>
                                        <tr>
                                            <td>Замена подшипника передней ступицы (со снятием поворотного кулака)</td>
                                        </tr>
                                        <tr>
                                            <td>Замена подшипника передней ступицы (со снятием амортизатора)</td>
                                        </tr>
                                        <tr>
                                            <td>Регулировка подшипника передней ступицы</td>
                                        </tr>
                                        <tr>
                                            <td>Замена тормозного диска </td>
                                        </tr>
                                        <tr>
                                            <td>Замена опоры переднего амортизатора</td>
                                        </tr>
                                        <tr>
                                            <td>Замена опорного подшипника переднего амортизатора</td>
                                        </tr>
                                        <tr>
                                            <td>Замена пружины передней</td>
                                        </tr>
                                        <tr>
                                            <td>Замена балки передней (подрамник)</td>
                                        </tr>
                                        <tr>
                                            <td>Замена рулевого механизма (рейка)</td>
                                        </tr>
                                        <tr>
                                            <td>Замена сайлентблока верхнего рычага</td>
                                        </tr>
                                        <tr>
                                            <td>Замена сайлентблока нижнего рычага</td>
                                        </tr>
                                        <tr>
                                            <td>Замена втулки стабилизатора </td>
                                        </tr>
                                        <tr>
                                            <td>Замена стойки стабилизатора</td>



                                        </tr>
                                        <tr>
                                            <td>Замена рычага верхнего (в сборе)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена рычага нижнего (в сборе)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена сайлентблока растяжки (1 сторона)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена растяжки</td>



                                        </tr>
                                        <tr>
                                            <td>Замена сайлентблока передней балки (подрамника)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена привода в сборе</td>



                                        </tr>
                                        <tr>
                                            <td>Замена шруса</td>



                                        </tr>
                                        <tr>
                                            <td>Замена пыльника шруса</td>
                                        </tr>
                                        <tr>
                                            <td>Замена 2х пыльников или шруса (переборка привода)</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><br/><b>Ремонт задней подвески</b></td>
                                        </tr>
                                        <tr>
                                            <td>Замена заднего амортизатора </td>
                                        </tr>
                                        <tr>
                                            <td>Замена пыльника заднего амортизатора</td>
                                        </tr>
                                        <tr>
                                            <td>Замена подшипника задней ступицы -</td>
                                        </tr>
                                        <tr>
                                            <td>Замена балки заднего моста(в сборе)</td>
                                        </tr>
                                        <tr>
                                            <td>Замена редуктора заднего моста</td>
                                        </tr>
                                        <tr>
                                            <td>Замена полуоси / подшипника полуоси</td>
                                        </tr>
                                        <tr>
                                            <td>Замена реактивной тяги / 2 втулки </td>



                                        </tr>
                                        <tr>
                                            <td>Замена карданного вала</td>



                                        </tr>
                                        <tr>
                                            <td>Замена рычага (независимой подвески) </td>



                                        </tr>
                                        <tr>
                                            <td>Замена пружины задней </td>



                                        </tr>
                                        <tr>
                                            <td>Замена стойки стабилизатора</td>



                                        </tr>
                                        <tr>
                                            <td>Замена втулки стабилизатора</td>



                                        </tr>
                                        <tr>
                                            <td>Замена опоры заднего амортизатора</td>



                                        </tr>
                                        <tr>
                                            <td>Замена опорного подшипника заднего амортизатора</td>



                                        </tr>
                                        <tr>
                                            <td colspan="4"><br/><b>Ремонт тормозной системы</b></td>
                                        </tr>

                                        <tr>
                                            <td>Замена передних тормозных колодок</td>



                                        </tr>
                                        <tr>
                                            <td>Замена рабочего цилиндра (переднего) </td>



                                        </tr>
                                        <tr>
                                            <td>Замена суппорта переднего </td>



                                        </tr>
                                        <tr>
                                            <td>Переборка суппорта переднего </td>



                                        </tr>
                                        <tr>
                                            <td>Замена главного тормозного цилиндра</td>



                                        </tr>
                                        <tr>
                                            <td>Замена вакуумного усилителя тормозной системы</td>



                                        </tr>
                                        <tr>
                                            <td>Замена задних колодок (барабанные тормоза)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена тормозных колодок (ручного тормоза)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена передней тормозной трубки </td>



                                        </tr>
                                        <tr>
                                            <td>Замена магистральной тормозной трубки </td>



                                        </tr>
                                        <tr>
                                            <td>Замена регулятора тормозного усилия</td>



                                        </tr>
                                        <tr>
                                            <td>Замена задних колодок (дисковые тормоза)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена и регулировка троса ручного тормоза (короткого)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена и регулировка троса ручного тормоза (длинного) </td>



                                        </tr>
                                        <tr>
                                            <td>Замена тормозного шланга </td>



                                        </tr>
                                        <tr>
                                            <td>Замена задней тормозной трубки </td>



                                        </tr>
                                        <tr>
                                            <td>Замена суппорта заднего </td>



                                        </tr>
                                        <tr>
                                            <td>Переборка суппорта заднего </td>



                                        </tr>
                                        <tr>
                                            <td>Замена заднего рабочего цилиндра</td>



                                        </tr>
                                        <tr>
                                            <td>Прокачка тормозов</td>



                                        </tr>
                                        <tr>
                                            <td>Замена тормозной жидкости</td>



                                        </tr>
                                        <tr>
                                            <td>Замена кулисы</td>



                                        </tr>
                                        <tr>
                                            <td>Замена подушки кулисы (механизма переключения)</td>



                                        </tr>
                                        <tr>
                                            <td colspan="4"><br/><b>Замену масла и фильтров</b></td>
                                        </tr>

                                        <tr>
                                            <td>Замена масла и масляного фильтра в двигателе</td>



                                        </tr>
                                        <tr>
                                            <td>Замена масла и масляного фильтра в двигателе с промывкой</td>



                                        </tr>
                                        <tr>
                                            <td>Замена масла в КПП</td>



                                        </tr>
                                        <tr>
                                            <td>Замена масла в АКПП частичная</td>



                                        </tr>
                                        <tr>
                                            <td>Замена масла в АКПП с заменой фильтра</td>



                                        </tr>
                                        <tr>
                                            <td>Замена масла в заднем мосту</td>



                                        </tr>
                                        <tr>
                                            <td>Замена охлаждающей жидкости</td>



                                        </tr>
                                        <tr>
                                            <td>Замена охлаждающей жидкости с промывкой системы</td>



                                        </tr>
                                        <tr>
                                            <td>Замена тормозной жидкости</td>



                                        </tr>
                                        <tr>
                                            <td>Прокачка тормозной системы (1 колесо)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена воздушного фильтра</td>



                                        </tr>
                                        <tr>
                                            <td>Замена салонного фильтра</td>



                                        </tr>
                                        <tr>
                                            <td>Замена топливного фильтра (инжектор)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена топливного фильтра в баке (бензин)</td>



                                        </tr>
                                        <tr>
                                            <td>Смазка шлицевых соединений</td>



                                        </tr>
                                        <tr>
                                            <td>Смазка шаровых опор</td>



                                        </tr>
                                        <tr>
                                            <td colspan="4"><br/><b>Ремонт автоэлектрики</b></td>
                                        </tr>

                                        <tr>
                                            <td>Замена фары головного света</td>



                                        </tr>
                                        <tr>
                                            <td>Замена стоп сигнала</td>



                                        </tr>
                                        <tr>
                                            <td>Замена поворотника</td>



                                        </tr>
                                        <tr>
                                            <td>Замена противотуманных фар</td>



                                        </tr>
                                        <tr>
                                            <td>Замена лампы</td>



                                        </tr>
                                        <tr>
                                            <td>Регулировка фар</td>



                                        </tr>
                                        <tr>
                                            <td>Ремонт генератора</td>



                                        </tr>
                                        <tr>
                                            <td>Ремонт стартера</td>



                                        </tr>
                                        <tr>
                                            <td>Замена генератора (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена стартера (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена радиатора отопителя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена мотора отопителя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена крана отопителя (заслонка управления)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена стандартного рулевого колеса (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена нестандартного рулевого колеса (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена звукового сигнала</td>



                                        </tr>
                                        <tr>
                                            <td>Замена троса спидометра</td>



                                        </tr>
                                        <tr>
                                            <td>Замена клавиши управления (салон) </td>

                                        </tr>
                                        <tr>
                                            <td>Замена подрулевого переключателя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена стеклоочистителя переднего (трапеция)</td>

                                        </tr>
                                        <tr>
                                            <td>Замена стеклоочистителя заднего</td>



                                        </tr>
                                        <tr>
                                            <td>Замена передних фар </td>



                                        </tr>
                                        <tr>
                                            <td>Замена задних фонарей </td>



                                        </tr>
                                        <tr>
                                            <td>Замена стеклоподъемника (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена обшивки двери (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Установка дополнительных фонарей</td>
                                        </tr>
                                        <tr>
                                            <td>Регулировка натяжения ремня генератора</td>



                                        </tr>
                                        <tr>
                                            <td>Замена комбинации приборов (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена монтажного блока (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена проводки (моторный отсек)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена торпедо (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена задней косы</td>



                                        </tr>
                                        <tr>
                                            <td colspan="4"><br/><b>Ремонт двигателя</b></td>
                                        </tr>

                                        <tr>
                                            <td>Регулировка клапанов</td>



                                        </tr>
                                        <tr>
                                            <td>Капитальный ремонт двигателя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена прокладки ГБЦ</td>



                                        </tr>
                                        <tr>
                                            <td>Снятие и установка ГБЦ</td>



                                        </tr>
                                        <tr>
                                            <td>Замена гидрокомпенсаторов</td>



                                        </tr>
                                        <tr>
                                            <td>Замена двигателя в сборе</td>
                                        </tr>
                                        <tr>
                                            <td>Замена коленвала (без съема двигателя)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена масляного насоса</td>



                                        </tr>
                                        <tr>
                                            <td>Замена прокладки поддона</td>



                                        </tr>
                                        <tr>
                                            <td>Замена поддона ДВС</td>



                                        </tr>
                                        <tr>
                                            <td>Замена полуколец коленвала</td>



                                        </tr>
                                        <tr>
                                            <td>Замена прокладки передней крышки</td>



                                        </tr>
                                        <tr>
                                            <td>Замена прокладки клапанной крышки</td>



                                        </tr>
                                        <tr>
                                            <td>Замена распредвала (с регулировкой клапанов)</td>



                                        </tr>
                                        <tr>
                                            <td>Протяжка ГБЦ (с регулировкой клапанов)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена сальника распредвала</td>



                                        </tr>
                                        <tr>
                                            <td>Замена прокладки впускного коллектора</td>



                                        </tr>
                                        <tr>
                                            <td>Снятие и установка впускного коллектора</td>



                                        </tr>
                                        <tr>
                                            <td>Устранение течи масла свечных колодцев</td>



                                        </tr>
                                        <tr>
                                            <td>Замена заднего сальника коленвала</td>



                                        </tr>
                                        <tr>
                                            <td>Замена цепи или ремня ГРМ</td>
                                        </tr>
                                        <tr>
                                            <td>Замена переднего сальника коленвала</td>



                                        </tr>
                                        <tr>
                                            <td>Ремонт головки блока цилиндров</td>



                                        </tr>
                                        <tr>
                                            <td>Замена маслосъемных колпачков (сальники клапанов)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена передней подушки двигателя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена правой / левой подушки двигателя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена задней подушки двигателя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена верхней подушки двигателя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена сайлентблока подушки двигателя</td>



                                        </tr>
                                        <tr>
                                            <td colspan="4"><br/><b>Ремонт систем впрыска и зажигания</b></td>
                                        </tr>

                                        <tr>
                                            <td>Промывка системы впрыска топлива (инжектор)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена свечи зажигания </td>



                                        </tr>
                                        <tr>
                                            <td>Замена свечи зажигания  (нестандарт)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена высоковольтных проводов</td>



                                        </tr>
                                        <tr>
                                            <td>Регулировка зажигания</td>



                                        </tr>
                                        <tr>
                                            <td>Замена бензонасоса (карбюратор)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена бензобака (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена наружного бензонасоса (инжектор)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена погружного бензонасоса (без снятия бензобака)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика включения вентилятора</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика давления масла</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика детонации</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика заднего хода</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика коленвала</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика массового расхода воздуха</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика распредвала</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика скорости</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика температуры воздуха</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика температуры охлаждающей жидкости</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика уровня масла</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика уровня охлаждающей жидкости</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика уровня топлива (без снятия бензобака)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена датчика фазы</td>



                                        </tr>
                                        <tr>
                                            <td>Замена карбюратора (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена карбюратора (с регулировкой)</td>



                                        </tr>
                                        <tr>
                                            <td>Ремонт и регулировка карбюратора (без снятия)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена катушки зажигания (модуль) </td>



                                        </tr>
                                        <tr>
                                            <td>Замена привода трамблёра</td>



                                        </tr>
                                        <tr>
                                            <td>Замер давления в топливной рампе</td>



                                        </tr>
                                        <tr>
                                            <td>Замена рампы форсунок</td>



                                        </tr>
                                        <tr>
                                            <td>Замена трамблёра (с регулировкой зажигания)</td>



                                        </tr>
                                        <tr>
                                            <td>Промывка воздушного тракта системы впрыска топлива (инжектор)дроссель</td>



                                        </tr>
                                        <tr>
                                            <td colspan="4"><br/><b>Ремонт рулевого управления</b></td>
                                        </tr>

                                        <tr>
                                            <td>Регулировка натяжения ремня гидроусилителя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена рулевого редуктора</td>



                                        </tr>
                                        <tr>
                                            <td>Замена рулевой трапеции</td>



                                        </tr>
                                        <tr>
                                            <td>Замена рулевой тяги</td>



                                        </tr>
                                        <tr>
                                            <td>Замена рулевого наконечника (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена рулевой крестовины</td>



                                        </tr>
                                        <tr>
                                            <td>Замена пыльника рулевой тяги</td>



                                        </tr>
                                        <tr>
                                            <td colspan="4"><br/><b>Ремонт выхлопной системы</b></td>
                                        </tr>

                                        <tr>
                                            <td>Замена глушителя (основная часть)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена прокладки приемной трубы</td>



                                        </tr>
                                        <tr>
                                            <td>Замена приемной трубы (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена средней части глушителя (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена хомута глушителя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена подвеса крепления </td>



                                        </tr>
                                        <tr>
                                            <td>Замена L-зонда (кислородный датчик)</td>



                                        </tr>
                                        <tr>
                                            <td>Установка гофры со снятием приемной трубы</td>



                                        </tr>
                                        <tr>
                                            <td>Замена резонатора (снятие / установка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена катализатора (без учета снятия / установки деталей подвески и ДВС)</td>



                                        </tr>
                                        <tr>
                                            <td>Удаление катализатора</td>



                                        </tr>
                                        <tr>
                                            <td>Вставка участка выхлопной трубы</td>



                                        </tr>
                                        <tr>
                                            <td>Замена (ремонт) шпильки выхлопной трубы</td>



                                        </tr>
                                        <tr>
                                            <td colspan="4"><br/><b>Ремонт систем охлаждения и отопления</b></td>
                                        </tr>

                                        <tr>
                                            <td>Замена жидкости охлаждения</td>



                                        </tr>
                                        <tr>
                                            <td>Замена радиатора охлаждения (основной)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена бачка расширительного</td>



                                        </tr>
                                        <tr>
                                            <td>Замена крана отопителя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена водяного насоса (помпа)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена термостата</td>



                                        </tr>
                                        <tr>
                                            <td>Замена патрубка системы охлаждения </td>



                                        </tr>
                                        <tr>
                                            <td>Замена каждого последующего патрубка </td>



                                        </tr>
                                        <tr>
                                            <td>Замена тосольной трубы</td>



                                        </tr>
                                        <tr>
                                            <td>Замена радиатора отопителя</td>



                                        </tr>
                                        <tr>
                                            <td>Замена жидкости охлаждения с промывкой</td>



                                        </tr>
                                        <tr>
                                            <td>Регулировка натяжения ремня кондиционера</td>



                                        </tr>
                                        <tr>
                                            <td>Замена ремня кондиционера</td>



                                        </tr>
                                        <tr>
                                            <td>Замена компрессора кондиционера</td>
                                        </tr>
                                        <tr>
                                            <td>Замена радиатора кондиционера</td>



                                        </tr>
                                        <tr>
                                            <td>Заправка автокондиционера</td>



                                        </tr>
                                        <tr>
                                            <td colspan="4"><br/><b>Ремонт и замену стекол</b></td>
                                        </tr>

                                        <tr>
                                            <td>Замена лобового/заднего стекла (вклейка)</td>



                                        </tr>
                                        <tr>
                                            <td>Замена бокового стекла/форточки</td>



                                        </tr>
                                        <tr>
                                            <td>Замена лобового/заднего стекла (резинка)</td>



                                        </tr>
                                    </tbody>
                                </table>

                                <h2>Покраска автомобиля</h2>

                                <table width="100%" border="0" cellpadding="5" cellspacing="5" class="zebra">
                                    <tbody>

                                        <tr>
                                            <td colspan="5"><p><strong>Окраска основных элементов</strong></p></td>
                                        </tr>
                                        <tr>
                                            <td>Крыло переднее</td>




                                        </tr>
                                        <tr>
                                            <td>Дверь передняя - наружная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Дверь передняя - полная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Капот - наружная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Капот - полная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Дверь задняя - наружная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Дверь задняя - полная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Крыло заднее</td>




                                        </tr>
                                        <tr>
                                            <td>Крышка багажника - наружная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Крышка багажника - полная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Дверь задка - наружная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Дверь задка - полная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Панель крыши</td>




                                        </tr>
                                        <tr>
                                            <td>Пол кузова</td>




                                        </tr>
                                        <tr>
                                            <td colspan="5"><br/><p><strong>Окраска передка</strong></p></td>
                                        </tr>
                                        <tr>
                                            <td>Рамка радиатора - наружная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Рамка радиатора - полная окраска</td>




                                        </tr>
                                        <tr>
                                            <td>Верхняя поперечина</td>




                                        </tr>
                                        <tr>
                                            <td>Нижняя поперечина</td>




                                        </tr>
                                        <tr>
                                            <td>Щиток передка</td>




                                        </tr>
                                        <tr>
                                            <td>Панель ветрового стекла</td>




                                        </tr>
                                        <tr>
                                            <td>Стойка ветрового стекла</td>




                                        </tr>
                                        <tr>
                                            <td>Моторный отсек</td>




                                        </tr>
                                        <tr>
                                            <td colspan="5"><br/><p><strong>Окраска других элементов</strong></p></td>
                                        </tr>
                                        <tr>
                                            <td>Панель задняя</td>




                                        </tr>
                                        <tr>
                                            <td>Пол багажника</td>




                                        </tr>
                                        <tr>
                                            <td>Порог</td>




                                        </tr>
                                        <tr>
                                            <td>Обтекатель порога</td>




                                        </tr>
                                        <tr>
                                            <td>Бампер передний</td>




                                        </tr>
                                        <tr>
                                            <td>Бампер задний</td>




                                        </tr>
                                        <tr>
                                            <td>Молдинг</td>




                                        </tr>
                                        <tr>
                                            <td>Боковина кузова</td>




                                        </tr>
                                        <tr>
                                            <td>Стойка боковина кузова</td>




                                        </tr>
                                        <tr>
                                            <td>Полировка одной детали</td>




                                        </tr>
                                    </tbody>
                                </table>

                                <h2>Кузовной ремонт</h2>
                                <table width="100%" border="0" cellpadding="5" cellspacing="5" class="zebra">
                                    <tbody>

                                        <tr>
                                            <td colspan="5"><p><strong>Кузовные работы</strong></p></td>
                                        </tr>
                                        <tr>
                                            <td>Капот</td>
                                        </tr>
                                        <tr>
                                            <td>Крыло переднее</td>




                                        </tr>
                                        <tr>
                                            <td>Дверь передняя</td>




                                        </tr>
                                        <tr>
                                            <td>Дверь задняя</td>




                                        </tr>
                                        <tr>
                                            <td>Дверь задка</td>




                                        </tr>
                                        <tr>
                                            <td>Крышка багажника</td>




                                        </tr>
                                        <tr>
                                            <td>Крыло заднее</td>




                                        </tr>
                                        <tr>
                                            <td>Панель крыши</td>




                                        </tr>
                                        <tr>
                                            <td colspan="5'"><br/><p><strong>Передок кузова</strong></p></td>
                                        </tr>
                                        <tr>
                                            <td>Стойка ветровго стекла</td>




                                        </tr>
                                        <tr>
                                            <td>Рамка радиатора</td>




                                        </tr>
                                        <tr>
                                            <td>Верхняя поперечина</td>




                                        </tr>
                                        <tr>
                                            <td>Нижняя поперечина</td>




                                        </tr>
                                        <tr>
                                            <td>Брызговик переднего крыла</td>




                                        </tr>
                                        <tr>
                                            <td>Лонжерон передний</td>




                                        </tr>
                                        <tr>
                                            <td>Щиток передка</td>




                                        </tr>
                                        <tr>
                                            <td>Панель ветрового стекла</td>




                                        </tr>
                                        <tr>
                                            <td colspan="5"><br/><p><strong>Другие элементы кузова</strong></p></td>
                                        </tr>
                                        <tr>
                                            <td>Порог</td>




                                        </tr>
                                        <tr>
                                            <td>Арка заднего колеса</td>




                                        </tr>
                                        <tr>
                                            <td>Панель задка</td>




                                        </tr>
                                        <tr>
                                            <td>Пол кузова</td>




                                        </tr>
                                        <tr>
                                            <td>Пол багажника</td>




                                        </tr>
                                        <tr>
                                            <td>Лонжерон задний</td>




                                        </tr>
                                        <tr>
                                            <td>Боковина кузова</td>




                                        </tr>
                                        <tr>
                                            <td>Стойка боковина (пер. зад. центр)</td>




                                        </tr>
                                        <tr>
                                            <td colspan="5"><br/><p><strong>Устранение перекосов кузова</strong></p></td>
                                        </tr>
                                        <tr>
                                            <td>Установка а\м на стапель</td>




                                        </tr>
                                        <tr>
                                            <td>Устранение перекоса в проеме боковой двери или окна</td>




                                        </tr>
                                        <tr>
                                            <td>Устранение несложного перекоса</td>




                                        </tr>
                                        <tr>
                                            <td>Устранение среднего перекоса</td>




                                        </tr>
                                        <tr>
                                            <td>Устранение сложного перекоса</td>




                                        </tr>
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
